/*#intro{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: fixed;*/
/*    left: 0;*/
/*    top: 0;*/
/*    z-index: 9999;*/
/*    !*display: none;*!*/
/*}*/

/*#intro .video_bar{*/
/*    position: absolute;*/
/*    left: 50%;*/
/*    bottom: 59px;*/
/*    transform: translateX(-50%);*/
/*}*/

/*#intro .video_bar .bar{*/
/*    width: 1744px;*/
/*    height: 3px;*/
/*    background: white;*/
/*    opacity: 0.1;*/
/*}*/

/*#intro .play_bar{*/
/*    width: 0;*/
/*    height: 3px;*/
/*    background: white;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    transition: all 31s;*/
/*}*/

/*#intro .play_bar.on{*/
/*    width: 1744px;*/
/*}*/

/*#intro .video_bar .skip{*/
/*    width: 89px;*/
/*    height: 44px;*/
/*    border: 2px white solid;*/
/*    border-radius: 5px;*/
/*    opacity: 0.7;*/
/*    position: absolute;*/
/*    right: 0;*/
/*    bottom: 24px;*/
/*    cursor: pointer;*/
/*}*/

/*#intro .video_bar .skip:hover{*/
/*    background: #102a88;*/
/*    border-radius: 5px;*/
/*}*/

/*#intro .video_bar .skip > span:first-child{*/
/*    font-family: "Cocogoose Light", sans-serif;*/
/*    color: white;*/
/*    font-size: 18px;*/
/*    line-height: 44px;*/
/*    padding-left: 16px;*/
/*}*/

/*#intro .video_bar .skip .arrow{*/
/*    position: absolute;*/
/*    right: 14px;*/
/*    top: 16px;*/
/*}*/

#header{}

#header > h1{
    width: 130px;
    height: 60px;
    position: fixed;
    left: 57px;
    top: 33px;
    z-index: 9998;
}

#navi{
    width: 274px;
    height: 11px;
    position: fixed;
    left: 50%;
    top: 57px;
    margin-left: -137px;
    z-index: 9990;
}

#menu_btn{
    width: 26px;
    height: 26px;
    position: fixed;
    right: 62px;
    top: 50px;
    z-index: 9990;
    cursor: pointer;
}

#ticket{
    position: fixed;
    left: 46%;
    bottom: 0;
    transform: rotate(-16.5deg);
    filter: drop-shadow(5px 5px 5px rgba(34, 23, 20, 0.4));
    z-index: 8000;
    cursor: pointer;
}

#ticket > img{
    position: absolute;
    left: 0;
    bottom: -40px;
}

#ticket .on{
    display: none;
}

#language{
    position: fixed;
    left: 63px;
    bottom: 60px;
    z-index: 9990;
}

#language > li{
    width: 25px;
    height: 12px;
    margin-right: 10px;
    float: left;
    font-family: "Cocogoose Light", sans-serif;
}

#language > li:nth-child(2) {
    font-family: "Cocogoose Regular", sans-serif;
}

#language > li:hover{
    font-family: "Cocogoose Regular", sans-serif;
}

#language > li > a{
    font-size: 15px;
    color: white;
}

#header > a .next{
    width: 154px;
    height: 15px;
    position: fixed;
    right: 63px;
    bottom: 52px;
    z-index: 9990;
    color: white;
    font-size: 20px;
    font-family: "a드림고딕7", sans-serif;
}

#header > a .next > img{
    position: absolute;
    right: 0;
    bottom: 0;
}

/*header end*/




#menu{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: url("../../image/menu/menu_bg.jpg");
    z-index: 9997;
    transform: translateY(-980px);
    transition: all 0.7s;
    /*display: none;*/
}

#menu.down{
    transform: translateY(0);
}

#menu .logo{
    position: absolute;
    left: 57px;
    top: 33px;
}

#menu .close{
    position: absolute;
    right: 60px;
    top: 38px;
    cursor: pointer;
}

#menu .menu_list{
    position: absolute;
    right: 183px;
    top: 260px;
}

#menu .menu_list > li{
    text-align: right;
    margin-bottom: 70px;
    cursor: pointer;
}

#menu .menu_list > li > a{
    color: white;
    font-family: "a드림고딕3", sans-serif;
    font-size: 68px;
}

#menu .menu_list > li > a:hover{
    color: #0072ff;
}

#menu .footer_left{
    position: absolute;
    left: 175px;
    bottom: 48px;
}

#menu .footer_left > li{
    float: left;
    margin-right: 38px;
    color: #6698d6;
    font-family: "Cocogoose Light", sans-serif;
    font-size: 32px;
    cursor: pointer;
}

#menu .footer_left > li > div:first-child{
    margin-bottom: 10px;
}

#menu .footer_left > li .line{
    width: 0;
    height: 5px;
    background: #6698d6;
    border-radius: 5px;
    transition: width 0.7s ease;
}


#menu .footer_left .about:hover .line{
    width: 104px;
}

#menu .footer_left .company:hover .line{
    width: 170px;
}

#menu .footer_right{
    position: absolute;
    right: 183px;
    bottom: 48px;
}

#menu .footer_right > li{
    float: left;
    margin-left: 33px;
    cursor: pointer;
}

#menu .footer_right > li > img{
    margin-bottom: 10px;
}

#menu .footer_right > li .line{
    width: 0;
    height: 5px;
    background: #6698d6;
    border-radius: 5px;
    transition: width 0.7s ease;
}

#menu .footer_right .blog:hover .line{
    width: 23px;
}

#menu .footer_right .youtube:hover .line{
    width: 32px;
}

#menu .footer_right .facebook:hover .line{
    width: 13px;
}

#menu .footer_right .twitter:hover .line{
    width: 27px;
}

#menu .footer_right .earth:hover .line{
    width: 25px;
}
/* menu end */





#fullpage > section {
    height: 980px;
}

#section01 {
    background: url("../../image/main/main_slide01.jpg");

}

.section .title{
    position: absolute;
    left: 180px;
    top: 354px;
    color: white;
}

#section01 .fp-tableCell .title > h3{
    font-size: 23px;
    margin-bottom: 16px;
    font-family: "Cocogoose Light", sans-serif;
    transform: translateY(-20px);
    opacity: 0;
    transition: all 1s;
    transition-delay: .5s;
}

#section01 .fp-tableCell .title > h3.on{
    transform: translateY(0);
    opacity: 1;
}

#section01 .fp-tableCell .title > h2{
    font-size: 105px;
    margin-bottom: 30px;
    font-family: "a드림고딕7", sans-serif;
    transform: translateY(-20px);
    opacity: 0;
    transition: all 1s;
    transition-delay: .8s;
}

#section01 .fp-tableCell .title > h2.on{
    transform: translateY(0);
    opacity: 1;
}

#section01 .fp-tableCell .title > p{
    font-size: 24px;
    color: #dddcdc;
    font-family: "SCDream3", sans-serif;
    line-height: 36px;
    transform: translateY(-30px);
    opacity: 0;
    transition: all 1s;
    transition-delay: 1.2s;
}

#section01 .fp-tableCell .title > p.on{
    transform: translateY(0);
    opacity: 1;
}

#section02 {
    background: url("../../image/main/main_slide02.jpg");
}

#section02 .fp-tableCell .title > h3{
    font-size: 30px;
    margin-bottom: 18px;
    color: #1b1b1b;
    font-family: "Cocogoose Light", sans-serif;
    transform: translateY(-20px);
    opacity: 0;
    transition: all 1s;
}

#section02 .fp-tableCell .title > h3.on{
    transform: translateY(0);
    opacity: 1;
}

#section02 .fp-tableCell .title > h2{
    font-size: 105px;
    margin-bottom: 30px;
    color: white;
    font-family: "a드림고딕7", sans-serif;
    letter-spacing: -5px;
    transform: translateY(-20px);
    opacity: 0;
    transition: all 1s;
    transition-delay: .3s;
}

#section02 .fp-tableCell .title > h2.on{
    transform: translateY(0);
    opacity: 1;
}

#section02 .fp-tableCell .title > p{
    font-size: 24px;
    color: #1b1b1b;
    font-family: "SCDream3", sans-serif;
    line-height: 36px;
    transform: translateY(-30px);
    opacity: 0;
    transition: all 1s;
    transition-delay: .7s;
}

#section02 .fp-tableCell .title > p.on{
    transform: translateY(0);
    opacity: 1;
}

#fullpage .section .fp-tableCell .more_btn{
    width: 126px;
    height: 40px;
    border: 2px solid #94929f;
    border-radius: 5px;
    position: absolute;
    left: 180px;
    top: 640px;
    line-height: 40px;
    font-family: "a드림고딕3", sans-serif;
    cursor: pointer;
}

#fullpage .section .fp-tableCell .more_btn .arrow{
    position: absolute;
    left: 104px;
    top: 14px;
}

#section01 .fp-tableCell .more_btn > span:nth-child(1){
    color: white;
    font-size: 16px;
    padding-left: 15px;
    display: block;
    line-height: 40px;
    height: 40px;
    vertical-align: bottom;
}

#section01 .fp-tableCell .sc01{
    transform: translateY(-30px);
    opacity: 0;
    transition: all 1s;
    transition-delay: 1.5s;
}

#section01 .fp-tableCell .sc01.on{
    transform: translateY(0px);
    opacity: 1;
}

#section02 .section .fp-tableCell .more_btn{
    border: 2px solid #5c6d76;
}

#section02 .fp-tableCell .more_btn > span:nth-child(1){
    color: #1b1b1b;
    font-size: 16px;
    padding-left: 15px;
}

#section02 .fp-tableCell .sc02{
    transform: translateY(-30px);
    opacity: 0;
    transition: all 1s;
    transition-delay: 1s;
}

#section02 .fp-tableCell .sc02.on{
    transform: translateY(0px);
    opacity: 1;
}

/*main end*/



#pop01 {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    display: none;
}

#pop01 .pop_bg{
    width: 1920px;
    height: 980px;
    background: black;
    opacity: 0.8;
    position: absolute;
    left: 0;
    top: 0;
}

#pop01 .pop_box{
    width: 1340px;
    height: 720px;
    background: url("../../image/main/popup_01.png");
    border-radius: 5px;
    position: absolute;
    left: 260px;
    top: 50%;
    transform: translateY(-50%);
}

#pop01 .pop_box .close{
    position: absolute;
    right: -60px;
    top: 0;
    cursor: pointer;
}

#pop01 .pop_box .typo{
    width: 765px;
    position: absolute;
    left: 94px;
    top: 198px;
}

#pop01 .pop_box .typo .title > div{
    width: 765px;
    color: white;
    font-size: 63px;
    position: absolute;
    left: 0;
    top: 23px;
    font-family: "a드림고딕7", sans-serif;
}

#pop01 .pop_box .typo .article{
    position: absolute;
    left: 0;
    top: 128px;
}

#pop01 .pop_box .typo .article > p{
    color: #cfaae6;
    font-size: 18px;
    font-family: "SCDream3", sans-serif;
    line-height: 24px;
}

#pop01 .pop_box .typo .article > p:nth-child(1){
    font-weight: bold;
    margin-bottom: 27px;
    font-family: "SCDream6", sans-serif;
}

#pop01 .pop_box .more_btn{
    width: 138px;
    height: 37px;
    border: 2px solid #b5b5b5;
    border-radius: 5px;
    position: absolute;
    left: 94px;
    top: 540px;
    line-height: 34px;
    cursor: pointer;
}

#pop01 .pop_box .more_btn .arrow{
    position: absolute;
    left: 117px;
    top: 12px;
}

#pop01 .pop_box .more_btn > span:nth-child(1){
    color: #e6e6e6;
    font-size: 16px;
    padding-left: 11px;
    font-family: "a드림고딕3", sans-serif;
}

/*pop01 end*/


#pop02 {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    display: none;
}

#pop02 .pop_bg{
    width: 1920px;
    height: 980px;
    background: black;
    opacity: 0.8;
    position: absolute;
    left: 0;
    top: 0;
}

#pop02 .pop_box{
    width: 1340px;
    height: 720px;
    background: url("../../image/main/popup_02.png");
    border-radius: 5px;
    position: absolute;
    left: 260px;
    top: 50%;
    transform: translateY(-50%);
}

#pop02 .pop_box .close{
    position: absolute;
    right: -60px;
    top: 0;
    cursor: pointer;
}

#pop02 .pop_box .typo{
    width: 765px;
    position: absolute;
    left: 94px;
    top: 187px;
}

#pop02 .pop_box .typo .title > div{
    width: 765px;
    color: white;
    font-size: 63px;
    position: absolute;
    left: 0;
    top: 25px;
    font-family: "a드림고딕7", sans-serif;
}

#pop02 .pop_box .typo .article{
    position: absolute;
    left: 0;
    top: 105px;
}

#pop02 .pop_box .typo .article > p{
    color: #fde2e7;
    font-size: 18px;
    margin-bottom: 52px;
    font-family: "SCDream3", sans-serif;
    line-height: 24px;
}

#pop02 .pop_box .more_btn{
    width: 138px;
    height: 37px;
    border: 2px solid #ecd4cf;
    border-radius: 5px;
    position: absolute;
    left: 94px;
    top: 540px;
    line-height: 34px;
    cursor: pointer;
}

#pop02 .pop_box .more_btn .arrow{
    position: absolute;
    left: 117px;
    top: 12px;
}

#pop02 .pop_box .more_btn > span:nth-child(1){
    color: #fff;
    font-size: 16px;
    padding-left: 11px;
    font-family: "a드림고딕3", sans-serif;
}

/*pop02 end*/