html,body {
    overflow-x: hidden;
    overflow-y: hidden;
}

#header > h1{
    position: fixed;
    left: 57px;
    top: 33px;
    z-index: 9999;
}

#navi{
    position: fixed;
    left: 50%;
    top: 57px;
    margin-left: -137px;
    z-index: 9996;
}

#menu_btn{
    position: fixed;
    right: 62px;
    top: 50px;
    z-index: 9996;
    cursor: pointer;
}

#ticket{
    position: fixed;
    right: 30px;
    bottom: 20px;
    transform: rotate(-16.5deg);
    filter: drop-shadow(5px 5px 5px rgba(34, 23, 20, 0.4));
    z-index: 8000;
    cursor: pointer;
}

#ticket > img{
    position: absolute;
    right: 0;
    bottom: 0;
}

#ticket .on{
    display: none;
}

#back{
    width: 150px;
    height: 15px;
    position: fixed;
    left: 57px;
    bottom: 52px;
    z-index: 8000;
    color: white;
    font-size: 20px;
    font-family: "a드림고딕7", sans-serif;
    cursor: pointer;
}

#back .text{
    position: absolute;
    right: 0;
    bottom: 0;
}

/* header end */

#menu{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: url("../../image/menu/menu_bg.jpg");
    z-index: 9999;
    transform: translateY(-980px);
    transition: all 0.7s;
    /*display: none;*/
}

#menu.down{
    transform: translateY(0);
}

#menu .logo{
    position: absolute;
    left: 57px;
    top: 33px;
}

#menu .close{
    position: absolute;
    right: 60px;
    top: 38px;
    cursor: pointer;
}

#menu .menu_list{
    position: absolute;
    right: 183px;
    top: 260px;
}

#menu .menu_list > li{
    text-align: right;
    margin-bottom: 70px;
    cursor: pointer;
}

#menu .menu_list > li > a{
    color: white;
    font-family: "a드림고딕3", sans-serif;
    font-size: 68px;
}

#menu .menu_list > li > a:hover{
    color: #0072ff;
}

#menu .footer_left{
    position: absolute;
    left: 175px;
    bottom: 48px;
}

#menu .footer_left > li{
    float: left;
    margin-right: 38px;
    color: #6698d6;
    font-family: "Cocogoose Light", sans-serif;
    font-size: 32px;
    cursor: pointer;
}

#menu .footer_left > li > div:first-child{
    margin-bottom: 10px;
}

#menu .footer_left > li .line{
    width: 0;
    height: 5px;
    background: #6698d6;
    border-radius: 5px;
    transition: width 0.7s ease;
}


#menu .footer_left .about:hover .line{
    width: 104px;
}

#menu .footer_left .company:hover .line{
    width: 170px;
}

#menu .footer_right{
    position: absolute;
    right: 183px;
    bottom: 48px;
}

#menu .footer_right > li{
    float: left;
    margin-left: 33px;
    cursor: pointer;
}

#menu .footer_right > li > img{
    margin-bottom: 10px;
}

#menu .footer_right > li .line{
    width: 0;
    height: 5px;
    background: #6698d6;
    border-radius: 5px;
    transition: width 0.7s ease;
}

#menu .footer_right .blog:hover .line{
    width: 23px;
}

#menu .footer_right .youtube:hover .line{
    width: 32px;
}

#menu .footer_right .facebook:hover .line{
    width: 13px;
}

#menu .footer_right .twitter:hover .line{
    width: 27px;
}

#menu .footer_right .earth:hover .line{
    width: 25px;
}
/* menu end */

#ent_main{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: #0a3365;
    z-index: 9990;
    /*display: none;*/
}

#ent_main .ticket{
    position: fixed;
    left: 46%;
    bottom: 0;
    transform: rotate(-16.5deg);
    filter: drop-shadow(5px 5px 5px rgba(34, 23, 20, 0.4));
    z-index: 9999;
    cursor: pointer;
}

#ent_main .ticket > img{
    position: absolute;
    left: 0;
    bottom: -40px;
}

#ent_main .ticket .on{
    display: none;
}

#ent_main > a .next{
    width: 135px;
    height: 15px;
    position: fixed;
    right: 63px;
    bottom: 52px;
    z-index: 9999;
    color: white;
    font-size: 20px;
    font-family: "a드림고딕7", sans-serif;
}

#ent_main > a .next > img{
    position: absolute;
    right: 0;
    bottom: 0;
}

#ent_main .fix_box{
    width: 498px;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 5px 0 20px rgba(0, 0, 0, .7);
    z-index: 9999;
}

#ent_main .fix_box .typo{
    position: absolute;
    left: 88px;
    top: 270px;
}

#ent_main .fix_box .typo .subtit{
    font-family: "Gotham Medium", sans-serif;
    font-size: 36px;
    color: #dedede;
    margin-bottom: 40px;
}

#ent_main .fix_box .typo .tit{
    font-family: "a드림고딕7", sans-serif;
    font-size: 60px;
    color: #fff;
    line-height: 74px;
    margin-bottom: 50px;
}

#ent_main .fix_box .typo > p{
    font-family: "SCDream3", sans-serif;
    font-size: 21px;
    color: #dedede;
    line-height: 34px;
}


#ent_main .container{
    max-width: 1575px;
    height: 100%;
    position : relative;
    left: 498px;
    top: 0;
}

#ent_main .swiper-container {
    width: 100%;
    height: 100%;
}

#ent_main .swiper-slide {
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

#ent_main .swiper-slide-duplicate{
    /*display: none;*/
}

#ent_main .swiper-slide .typo{
    position: absolute;
    left: 50px;
    top: 270px;
    z-index: 9000;
}

#ent_main .swiper-slide .typo .subtit{
    font-family: "Cocogoose Regular", sans-serif;
    font-size: 30px;
    color: #dbdbdb;
    margin-bottom: 40px;
}

#ent_main .swiper-slide .typo .tit{
    font-family: "Gotham Bold", sans-serif;
    font-size: 110px;
    color: #fff;
    margin-bottom: 40px;
}

#ent_main .swiper-slide .typo > p{
    font-family: "SCDream3", sans-serif;
    font-size: 20px;
    color: #e4e4e4;
    line-height: 32px;
}
#ent_main .month_01, #ent_main .month_03{
    cursor: pointer;
}

#ent_main .month_01 .on, #ent_main .month_03 .on{
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

/*ent main end*/




#fullpage > section{
    height: 980px;
}

#section01{
    background: url("../../image/entertainment/ent_01_bg.jpg");
}

#section01 .fix_box{
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 5px 0 20px rgba(0, 0, 0, .5);
    z-index: 5000;
}

#section01 .fix_box .typo{
    position: absolute;
    right: 70px;
    top: 290px;
    text-align: right;
    color: #fff;
}

#section01 .fix_box .typo .subtit{
    font-family: "Gotham Medium", sans-serif;
    font-size: 25px;
    margin-bottom: 37px;
}

#section01 .fix_box .typo .tit01{
    font-family: "Cocogoose Regular", sans-serif;
    font-size: 34px;
    margin-bottom: 22px;
}

#section01 .fix_box .typo .tit02{
    font-family: "Gotham Bold", sans-serif;
    font-size: 135px;
    margin-bottom: 64px;
}

#section01 .fix_box .typo > p{
    font-family: "SCDream3", sans-serif;
    font-size: 21px;
    line-height: 34px;
}
/*fix_box end*/

#section01 .slide_box{
    width: 460px;
    height: 815px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
    background: #9db7d8;
    opacity: .5;
    position: absolute;
    left: 56%;
    top: 13%;
}

#drag_01{
    width: 1422px;
    position: absolute;
    left: 498px;
    top: 20%;
    z-index: 4000;
}

#drag_01 .slick-slide {
    width: 472px;
    height: 685px;
    margin-right: 90px !important;/*slide간의 여백 설정 */
    opacity: .5;
    transform: scale(0.8) translateX(150px);
    transition:all 0.5s;
    position: relative;
    outline: none;
}

#drag_01 .slick-center {}

#drag_01 .slick-current{
    transform: scale(1) translateX(150px);
    opacity: 1;
}

#drag_01 .slick-active {}

#drag_01 .slick-dots li{}

#drag_01 .slick-dots li.slick-active{}

#drag_01 .slick-dots li button{
    display: none;
}


#drag_01 .slick-slide .typo{
    position: absolute;
    left: 10px;
    top: 0;
    padding-left: 10px;
}

#drag_01 .slick-slide .typo .top{
    font-family: "a드림고딕3", sans-serif;
    font-size: 20px;
    color: #38567a;
    margin-bottom: 30px;
}

#drag_01 .slick-slide .typo .date{
    font-family: "Gotham Bold", sans-serif;
    font-size: 100px;
    color: #fff;
    margin-bottom: 30px;
}

#drag_01 .slick-slide .typo .day{
    font-family: "a드림고딕3", sans-serif;
    font-size: 17px;
    color: #405774;
    margin-bottom: 13px;
}

#drag_01 .slick-slide .typo .box{
    width: 28px;
    height: 5px;
    background: #405774;
    border-radius: 2.5px;
    margin-bottom: 45px;
}

#drag_01 .slick-slide .typo > p{
    font-family: "SCDream3", sans-serif;
    font-size: 16px;
    line-height: 31px;
    color: #fff;
}

#drag_01 .slick-slide .photo{
    position: absolute;
    left: 0;
    bottom: 0;
    box-shadow: 5px 5px 10px rgba(0,0,0,.4);
}

/*section01 drag01 end*/




#section02{
    background: url("../../image/entertainment/ent_03_bg.jpg");
}

#section02 .fix_box{
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 5px 0 20px rgba(0, 0, 0, .5);
    z-index: 5000;
}

#section02 .fix_box .typo{
    position: absolute;
    right: 70px;
    top: 290px;
    text-align: right;
    color: #fff;
}

#section02 .fix_box .typo .subtit{
    font-family: "Gotham Medium", sans-serif;
    font-size: 25px;
    margin-bottom: 37px;
}

#section02 .fix_box .typo .tit01{
    font-family: "Cocogoose Regular", sans-serif;
    font-size: 34px;
    margin-bottom: 22px;
}

#section02 .fix_box .typo .tit02{
    font-family: "Gotham Bold", sans-serif;
    font-size: 135px;
    margin-bottom: 64px;
}

#section02 .fix_box .typo > p{
    font-family: "SCDream3", sans-serif;
    font-size: 22px;
    line-height: 36px;
}
/*fix_box end*/

#section02 .slide_box{
    width: 460px;
    height: 815px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
    background: #9db7d8;
    opacity: .5;
    position: absolute;
    left: 56%;
    top: 13%;
}

#drag_03{
    width: 1422px;
    position: absolute;
    left: 498px;
    top: 20%;
    z-index: 4000;
}

#drag_03 .slick-slide {
    width: 472px;
    height: 685px;
    margin-right: 90px !important;/*slide간의 여백 설정 */
    opacity: .5;
    transform: scale(0.8) translateX(150px);
    transition:all 0.5s;
    position: relative;
    outline: none;
}

#drag_03 .slick-center {}

#drag_03 .slick-current{
    transform: scale(1) translateX(150px);
    opacity: 1;
}

#drag_03 .slick-active {}

#drag_03 .slick-dots li{}

#drag_03 .slick-dots li.slick-active{}

#drag_03 .slick-dots li button{
    display: none;
}


#drag_03 .slick-slide .typo{
    position: absolute;
    left: 10px;
    top: 0;
    padding-left: 10px;
}

#drag_03 .slick-slide .typo .top{
    font-family: "a드림고딕3", sans-serif;
    font-size: 20px;
    color: #38567a;
    margin-bottom: 30px;
}

#drag_03 .slick-slide .typo .date{
    font-family: "Gotham Bold", sans-serif;
    font-size: 100px;
    color: #fff;
    margin-bottom: 30px;
}

#drag_03 .slick-slide .typo .day{
    font-family: "a드림고딕3", sans-serif;
    font-size: 17px;
    color: #405774;
    margin-bottom: 13px;
}

#drag_03 .slick-slide .typo .box{
    width: 28px;
    height: 5px;
    background: #405774;
    border-radius: 2.5px;
    margin-bottom: 45px;
}

#drag_03 .slick-slide .typo > p{
    font-family: "SCDream3", sans-serif;
    font-size: 16px;
    line-height: 31px;
    color: #fff;
}

#drag_03 .slick-slide .photo{
    position: absolute;
    left: 0;
    bottom: 0;
    box-shadow: 5px 5px 10px rgba(0,0,0,.4);
}